body {
    background-color: lightgrey;
    font-family:sans-serif;
    margin:0px;
    padding:0px;
}
footer {
    background-color: lightgrey;
    padding:10px 10px 10px 10px;
}
ol {
    font-family:monospace;
    list-style-position: inside;
    padding: 7px 0 0 0;
    margin: 0;
}
pre {
    margin:0;
}
div {
    background-color:white;
}
a:link { text-decoration:none; color:navy}
a:visited { text-decoration:none; color:navy }
a:hover { background-color:yellow; color:black; }
a:active { background-color:yellow; color:black; }
a.missing {
    color:red;
}
.head {
    background-color: lightgrey;
    padding:10px 10px 10px 10px;
}
.body {
    background-color: white;
    padding:10px 10px 30px 30px;
}
.flex-container {
    display: flex;
}
.topics {
    padding-right: 10px;
    border-right: 1px solid grey;
}
.refs {
    padding-left: 10px;
}
h1 {
    margin:0;
    padding-top:5px;
    padding-bottom:10px;
}
hr {
    border-top: 1px dotted lightgrey;
}
