body {
  background-color:lightgrey;
  font-family:monospace;
  margin:0;
  padding:0;
}
footer {
  background-color:lightgrey;
  padding:10px;
}
ol, ul {
  list-style-position:inside;
  margin:0;
  padding:0;
}
ol {
  list-style-type:decimal-leading-zero;
  padding:7px 0 0 0;
}
ul li {
  list-style-type:inherit;
}
pre {
  margin:0;
}
div {
  background-color:white;
}
a:link {
  color:darkblue;
  text-decoration:none;
}
a:visited {
  color:darkblue;
  text-decoration:none;
}
a:hover {
  background-color:yellow;
  color:black;
}
a:active {
  background-color:yellow;
  color:black;
}
a.missing {
  color:blueviolet;
}
.head {
  background-color:lightgrey;
  padding:8px 8px 8px 8px;
}
.body {
  background-color:white;
  padding:10px 10px 10px 30px;
}
.flex-container {
  display:flex;
}
.lcol {
  border-right:1px solid grey;
  padding-right:10px;
}
.rcol {
  padding-left:10px;
}
h1 {
  margin:0;
  padding-top:5px;
  padding-bottom:10px;
}
h1, p {
  font-family:sans-serif;
}
hr {
  border-top:1px dotted lightgrey;
}
.red {
  color:darkred;
}
